<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>


  <p>
    This version of Splurty was built by <a target="_blank" href="https://github.com/jleew">Justin Wheeler.</a> Justin Wheeler is a former assistant program manager of D.C. Aikido. He is also a student of Asian history and philosophy. He was instrumental in sucessfully pentitioning the deans of Curry College in Milton, MA to add a Asian Studies minor to the college's curriculum.  
  </p>
 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4" stye="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Justin Wheeler</h2>
      <br />
      <p>
        Justin has demostatred martial art techiques in Boston and the DMV. He demostrated at North-East Tae Kwan Do, Bowerhouse Gym, Curry College and the National Geographic Musenum.  
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />






</div>